<form th:fragment="itemdetailform" method="POST">
    <input type="hidden" name="id">
    <h2 class="card-title"></h2>
    <ul class="list-group">
        <li class="list-group-item"><h5>Precio</h5></li>
        <li class="list-group-item"><p>Descripción</p></li>
        <li class="list-group-item">
            <h6>Cantidad: <input type="number" id="cantidad" name="cantidad" autocomplete="off" min="1" max="5"
                                 value="1"></h6>
        </li>
    </ul>
    <button type="submit" class="btn btn-dark">Añadir al carrito</button>
</form>