<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Spring eCommerce</title>
    <div th:replace="~{components/Animations/bootstrap.html :: bootstraplink}"></div>
</head>
<body>
<!-- Navigation -->
<div th:replace="~{components/NavBar/navbaruser.html :: navbaruser}"></div>
<!-- Page Content -->
<div class="container">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2>Ingresar</h2>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{components/Forms/login.html :: loginform}"></div>
    <a th:href="@{/usuario/registro}" class="card-link">Si aún no tiene cuenta aqui puede registrarse</a>
</div>
<!-- Footer -->
<div th:replace="~{components/Footer/footer.html :: footer}"></div>
<!-- Bootstrap core JavaScript -->
<div th:replace="~{components/Animations/bootstrap.html :: bootstrapcontext}"></div>
</body>
</html>