<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Spring eCommerce</title>
    <div th:replace="~{components/Animations/bootstrap.html :: bootstraplink}"></div>
</head>
<body>
<!-- Navigation -->
<div th:replace="~{components/NavBar/navbaradmin.html :: navbaradmin}"></div>
<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Spring eCommerce <small>Resumen de la orden</small></h1>
    <div th:replace="~{components/Breadcrumbs/orderdetail.html :: breadcrumb}"></div>
    <!-- Blog Post -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-9">
                    <div class="card-body">
                        <h5>DATOS ORDEN</h5>
                        <h6>Nombre</h6>
                        <h6>Correo</h6>
                        <h6>Dirección</h6>
                        <h5 class="card-title">PRODUCTOS</h5>
                        <div class="alert alert-light" role="alert">
                            <div th:replace="~{components/Tables/orderdetail.html :: table}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h2 class="card-title">Resumen Orden</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><h5>Total</h5></li>
                        <a class="btn btn-dark">Generar</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:replace="~{components/Footer/footer.html :: footer}"></div>
<!-- Bootstrap core JavaScript -->
<div th:replace="~{components/Animations/bootstrap.html :: bootstrapcontext}"></div>
</body>
</html>
